.map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 50;
}

#header .form-group {
  margin-top: 0;
}

#header .glyphicon {
  padding-left: 5px;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#btn-add-location .btn-fab {
  position: fixed !important;
  right: 20px;
  bottom: 20px;
}

#btn-center-map .btn-fab {
  position: fixed !important;
  right: 20px;
  bottom: 85px;
}

#btn-add-location, #btn-center-map {
  z-index: 100;
}

.form-group .form-control::-moz-placeholder {
  color: #000;
}

.form-group .form-control:-ms-input-placeholder {
  color: #000;
}

.form-group .form-control::-webkit-input-placeholder {
  color: #000;
}

.form-group input, textarea {
  background-color: #000;
  color: #000;
}

.form-group.is-focused .form-control {
  background-image: linear-gradient(#c22, #c11), linear-gradient(#a43, #a11);
}

.form-group .form-control {
  background-image: linear-gradient(#c22, #c11), linear-gradient(#a43, #a11);
}