/*Adapted from Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)*/

.page.has-sidebar {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page.has-sidebar.toggled {
  padding-left: 200px;
}

.sidebar-wrapper {
  z-index: 3000;
  position: fixed;
  left: 200px;
  width: 0;
  height: 100vh;
  margin-left: -200px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

.page.has-sidebar.toggled .sidebar-wrapper {
  width: 200px;
}

.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  padding-top: 0;
}

.page.has-sidebar.toggled .page-content-wrapper {
  position: absolute;
  margin-right: -200px;
}

.page.has-sidebar.toggled .glyphicon-menu-hamburger {
  background: none;
  color: white;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  text-decoration: none;
  color: white;
  vertical-align: middle;
  display: inline-block;
}

.sidebar-nav li.active {
  background-color: #e4e4e4;
}

.sidebar-nav li.active a {
  color: black;
}

.sidebar-nav li.sidebar-brand a {
  display: block;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  left: 0;
  right: 0;
}

.sidebar-subitem {
  padding-left: 20px;
  width: 100%;
}